body
{
    margin: 0;
    background-color: black;
}

.center
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img
{
    width: 100%;
    max-width: 800px;
}